In [19]:
import pandas as pd


df_orig_breed = pd.read_csv('data/breed_labels.csv')
df_orig_color = pd.read_csv('data/color_labels.csv')
df_orig_states = pd.read_csv('data/state_labels.csv')

df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

print(df_orig_breed.head())
print(df_orig_color)
print(df_orig_states)

print('\n')
print(df_train.describe())
print('\n')
print(df_train.info())
print('\n')
print(df_train.columns)
df_train.head()
df_test.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita
   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream
5        6      Gray
6        7     White
    StateID        StateName
0     41336            Johor
1     41325            Kedah
2     41367         Kelantan
3     41401     Kuala Lumpur
4     41415           Labuan
5     41324           Melaka
6     41332  Negeri Sembilan
7     41335           Pahang
8     41330            Perak
9     41380           Perlis
10    41327     Pulau Pinang
11    41345            Sabah
12    41342          Sarawak
13    41326         Selangor
14    41361       Terengganu


               Type           Age        Breed1        Breed2        Gender  \
count  14993.000000  14993.000000  14993.000000  14993.000000  14993.000000
mean       1.457614     10.452078    265.272594     74.009738      1.776162
std        0.498217     18.155790     60.056818    123.011575      0.681592
min        1.000000      0.000000      0.000000      0.000000      1.000000
25%        1.000000      2.000000    265.000000      0.000000      1.000000
50%        1.000000      3.000000    266.000000      0.000000      2.000000
75%        2.000000     12.000000    307.000000    179.000000      2.000000
max        2.000000    255.000000    307.000000    307.000000      3.000000

             Color1        Color2        Color3  MaturitySize     FurLength  \
count  14993.000000  14993.000000  14993.000000  14993.000000  14993.000000
mean       2.234176      3.222837      1.882012      1.862002      1.467485
std        1.745225      2.742562      2.984086      0.547959      0.599070
min        1.000000      0.000000      0.000000      1.000000      1.000000
25%        1.000000      0.000000      0.000000      2.000000      1.000000
50%        2.000000      2.000000      0.000000      2.000000      1.000000
75%        3.000000      6.000000      5.000000      2.000000      2.000000
max        7.000000      7.000000      7.000000      4.000000      3.000000

         Vaccinated      Dewormed    Sterilized        Health      Quantity  \
count  14993.000000  14993.000000  14993.000000  14993.000000  14993.000000
mean       1.731208      1.558727      1.914227      1.036617      1.576069
std        0.667649      0.695817      0.566172      0.199535      1.472477
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        1.000000      1.000000      2.000000      1.000000      1.000000
50%        2.000000      1.000000      2.000000      1.000000      1.000000
75%        2.000000      2.000000      2.000000      1.000000      1.000000
max        3.000000      3.000000      3.000000      3.000000     20.000000

                Fee         State      VideoAmt      PhotoAmt  AdoptionSpeed
count  14993.000000  14993.000000  14993.000000  14993.000000   14993.000000
mean      21.259988  41346.028347      0.056760      3.889215       2.516441
std       78.414548     32.444153      0.346185      3.487810       1.177265
min        0.000000  41324.000000      0.000000      0.000000       0.000000
25%        0.000000  41326.000000      0.000000      2.000000       2.000000
50%        0.000000  41326.000000      0.000000      3.000000       2.000000
75%        0.000000  41401.000000      0.000000      5.000000       4.000000
max     3000.000000  41415.000000      8.000000     30.000000       4.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
Type             14993 non-null int64
Name             13736 non-null object
Age              14993 non-null int64
Breed1           14993 non-null int64
Breed2           14993 non-null int64
Gender           14993 non-null int64
Color1           14993 non-null int64
Color2           14993 non-null int64
Color3           14993 non-null int64
MaturitySize     14993 non-null int64
FurLength        14993 non-null int64
Vaccinated       14993 non-null int64
Dewormed         14993 non-null int64
Sterilized       14993 non-null int64
Health           14993 non-null int64
Quantity         14993 non-null int64
Fee              14993 non-null int64
State            14993 non-null int64
RescuerID        14993 non-null object
VideoAmt         14993 non-null int64
Description      14981 non-null object
PetID            14993 non-null object
PhotoAmt         14993 non-null float64
AdoptionSpeed    14993 non-null int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB
None


Index(['Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'RescuerID',
       'VideoAmt', 'Description', 'PetID', 'PhotoAmt', 'AdoptionSpeed'],
      dtype='object')

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt
0,2,Dopey & Grey,8,266,266,1,2,6,7,1,...,2,1,2,0,41326,2ece3b2573dcdcebd774e635dca15fd9,0,"Dopey Age: 8mths old Male One half of a pair, ...",e2dfc2935,2.0
1,2,Chi Chi,36,285,264,2,1,4,7,2,...,1,2,1,0,41326,2ece3b2573dcdcebd774e635dca15fd9,0,"Please note that Chichi has been neutered, the...",f153b465f,1.0
2,2,Sticky,2,265,0,1,6,7,0,2,...,2,1,1,200,41326,e59c106e9912fa30c898976278c2e834,0,"Sticky, named such because of his tendency to ...",3c90f3f54,4.0
3,1,Dannie & Kass [In Penang],12,307,0,2,2,5,0,2,...,1,1,2,0,41326,e59c106e9912fa30c898976278c2e834,0,Dannie and Kass are mother and daughter. We en...,e02abc8a3,5.0
4,2,Cuddles,12,265,0,1,2,3,7,2,...,1,1,1,0,41326,e59c106e9912fa30c898976278c2e834,0,"Extremely cuddly cat, hence the origin of his ...",09f0df7d1,5.0

In [42]:
X_column = ['Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'PetID']

y_column = ['AdoptionSpeed']
print(X_column)
print(y_column)

['Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2', 'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed', 'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'PetID']
['AdoptionSpeed']

In [38]:
df_train.dtypes

Type               int64
Name              object
Age                int64
Breed1             int64
Breed2             int64
Gender             int64
Color1             int64
Color2             int64
Color3             int64
MaturitySize       int64
FurLength          int64
Vaccinated         int64
Dewormed           int64
Sterilized         int64
Health             int64
Quantity           int64
Fee                int64
State              int64
RescuerID         object
VideoAmt           int64
Description       object
PetID             object
PhotoAmt         float64
AdoptionSpeed      int64
dtype: object

In [41]:
df_train([X_column])

TypeError: 'DataFrame' object is not callable